
// Base Styles

@import '../../../bower_components/normalize.css/normalize';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 2em $hk_groteskregular;
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  a {
    &:after {
      width: .34em;
      height: .34em;
      margin: .22em .05em;
    }
  }
  @include mobile {
    font-size: 1.05em;
  }
}

a {
  font-family: $garamond;
  font-size: 1.18em;
  letter-spacing: .02em;
  text-decoration: none;
  color: $black;
  margin: 0 .37em 0 -.03em;
  border-bottom: $bs;
  position: relative;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: url("../img/ext_link_3.svg") no-repeat;
    width: .5em;
    height: .5em;
    margin: .1em .1em;
    background-size: 100% 100%;
  }
  &:hover {
    border-bottom: none;
  }
}

ol {  
  counter-reset: my-counter;
  list-style-type: none;
  margin-top: 0;
  li {
    padding: 1em 0;
    z-index: 100;
    position: relative;
    &:before {  
      content: counter(my-counter) ".";
      counter-increment: my-counter;
      font-family: $garamond;
      padding-left: 0;
      padding-right: 1.5em;
      margin-left: -1em;
      @include mobile {
        display: none;
      }
    }
  }
  @include mobile {
    padding: 0;
    margin-left: 1em;
    font-size: .7em;
  }
}