
// Descriptive colour variables

$white          	: #fff;
$black          	: #000;
$grey           	: #878787;
$regent-st-blue 	: #0000EE;
;

// Font stacks

$hk_groteskregular	: 'hk_groteskregular', sans-serif;
$garamond 			: 'EB Garamond', serif;
//$inconsolata		: 'Inconsolata', monospace;

//Border Radius

$br 				: 3px;

//Border Style

$bs					: solid 1px $regent-st-blue;

//Asset paths

$path-img			: '../img';

// Media query breakpoints

$mobile-width		: 605px;
$tablet-width		: 1000px;
$desktop-width		: 1300px;